<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid justify-content-center">
        <div>
            <div class="navbar-nav">
                <a class="nav-link" href="/tabla">Tabla de Multiplicar</a>
                <a class="nav-link" href="/cotizacion">Cotizacion</a>
                <a class="nav-link" href="/contactos">Alumnos</a>
            </div>
        </div>
    </div>
</nav>